.clearfix() {
  *zoom: 1;

  &:before,
  &:after {
    display: table;
    content: "";
  }
  &:after {
    clear: both;
  }
}

.gradient-v(@start, @stop) {
  .gradient-v(@start, @stop, 100%);
}

.gradient-v(@start, @stop, @length) {
  background-image: -webkit-linear-gradient(top, @start 0%, @stop @length);
  background-image:    -moz-linear-gradient(top, @start 0%, @stop @length);
  background-image:     -ms-linear-gradient(top, @start 0%, @stop @length);
  background-image:      -o-linear-gradient(top, @start 0%, @stop @length);
  background-image:         linear-gradient(top, @start 0%, @stop @length);
}

.gradient-h(@start, @stop) {
  .gradient-h(@start, @stop, 100%);
}

.gradient-h(@start, @stop, @length) {
  background-image: -webkit-linear-gradient(left, @start 0%, @stop @length);
  background-image:    -moz-linear-gradient(left, @start 0%, @stop @length);
  background-image:     -ms-linear-gradient(left, @start 0%, @stop @length);
  background-image:      -o-linear-gradient(left, @start 0%, @stop @length);
  background-image:         linear-gradient(left, @start 0%, @stop @length);
}

.transition(@rules) {
  -webkit-transition: @rules;
     -moz-transition: @rules;
      -ms-transition: @rules;
       -o-transition: @rules;
          transition: @rules;
}

.transform(@rules) {
  -webkit-transform: @rules;
     -moz-transform: @rules;
      -ms-transform: @rules;
       -o-transform: @rules;
          transform: @rules;
}

.box-sizing(@val) {
  -moz-box-sizing: @val;
       box-sizing: @val;
}

.transition(@rules) {
  -webkit-transition: @rules;
     -moz-transition: @rules;
      -ms-transition: @rules;
       -o-transition: @rules;
          transition: @rules;
}

.user-select(@val) {
  -webkit-user-select: @val;
   -khtml-user-select: @val;
     -moz-user-select: @val;
      -ms-user-select: @val;
          user-select: @val;
}